In [1]:
import pandas as pd

# Load the Adult dataset (assuming you have a file or URL)
df = pd.read_csv('/content/adult_with_headers.csv')

# Display the first few rows to get an overview of the data
print(df.head())

# Summary statistics for numerical features
print(df.describe())

# Check data types and missing values
print(df.info())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [3]:
# Checking for missing values
missing_values = df.isnull().sum()
print(missing_values)

# Imputation for numerical columns with missing values
df['age'].fillna(df['age'].mean(), inplace=True)

# Removal for rows with missing target variable
df.dropna(subset=['income'], inplace=True)

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

<ipython-input-3-a8c8c5dda724>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [4]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Select numerical columns for scaling
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Standard Scaling
scaler_standard = StandardScaler()
df[numerical_cols] = scaler_standard.fit_transform(df[numerical_cols])

# Min-Max Scaling
scaler_minmax = MinMaxScaler()
df[numerical_cols] = scaler_minmax.fit_transform(df[numerical_cols])

In [6]:
# Applying One-Hot Encoding for categorical columns with less than 5 categories
categorical_cols_less_than_5 = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() < 5]
df = pd.get_dummies(df, columns=categorical_cols_less_than_5, drop_first=True)

In [7]:
from sklearn.preprocessing import LabelEncoder

# Apply Label Encoding for categorical columns with more than 5 categories
categorical_cols_more_than_5 = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() > 5]

label_encoder = LabelEncoder()
for col in categorical_cols_more_than_5:
    df[col] = label_encoder.fit_transform(df[col])

In [10]:
import numpy as np

# Check the skewness of numerical features
skewed_features = df[numerical_cols].skew()
print(skewed_features)

# Apply log transformation to skewed features
df['log_age'] = np.log1p(df['age'])  # Log transformation

age                0.558743
fnlwgt             1.446980
education_num     -0.311676
capital_gain      11.953848
capital_loss       4.594629
hours_per_week     0.227643
dtype: float64

In [11]:
from sklearn.ensemble import IsolationForest

# Fit the model to the data
isolation_forest = IsolationForest(contamination=0.05)  # 5% of data is assumed to be outliers
outliers = isolation_forest.fit_predict(df[numerical_cols])

# Mark the outliers as 1 and inliers as -1, then remove outliers
df = df[outliers == 1]

In [17]:
!pip install ppscore
import ppscore as pps

# Compute the PPS matrix for specific columns
pps_matrix = pps.matrix(df)
print(pps_matrix)

for col in df.select_dtypes(include=['object', 'category']).columns:
    # exploring One-Hot Encoding for better performance
    df[col] = label_encoder.fit_transform(df[col])

# Now calculating the correlation matrix
correlation_matrix = df.corr()
print(correlation_matrix)

Requirement already satisfied: ppscore in /usr/local/lib/python3.11/dist-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in /usr/local/lib/python3.11/dist-packages (from ppscore) (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2025.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.11/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.17.0)
           x               y  ppscore            case  is_valid_score  \
0        age             age      1.0  predict_itself            True
1        age       workclass      0.0      regression            True
2        age          fnlwgt      0.0      regression            True
3        age       education      0.0      regression            True
4        age   education_num      0.0      regression            True
..       ...             ...      ...             ...             ...
284  log_age  native_country      0.0      regression            True
285  log_age       sex_ Male      0.0  classification            True
286  log_age    income_ >50K      0.0  classification            True
287  log_age       age_group      1.0      regression            True
288  log_age         log_age      1.0  predict_itself            True

                  metric  baseline_score  model_score  \
0                   None        0.000000     1.000000
1    mean absolute error        0.715600     0.846717
2    mean absolute error        0.049556     0.050204
3    mean absolute error        2.668600     2.730083
4    mean absolute error        0.116467     0.119303
..                   ...             ...          ...
284  mean absolute error        2.223600     4.005299
285          weighted F1        0.552400     0.548705
286          weighted F1        0.674032     0.673835
287  mean absolute error        0.010400     0.000000
288                 None        0.000000     1.000000

                        model
0                        None
1     DecisionTreeRegressor()
2     DecisionTreeRegressor()
3     DecisionTreeRegressor()
4     DecisionTreeRegressor()
..                        ...
284   DecisionTreeRegressor()
285  DecisionTreeClassifier()
286  DecisionTreeClassifier()
287   DecisionTreeRegressor()
288                      None

[289 rows x 9 columns]
                     age  workclass    fnlwgt  education  education_num  \
age             1.000000   0.014502 -0.082803   0.003951       0.044444
workclass       0.014502   1.000000 -0.017433   0.017235       0.044253
fnlwgt         -0.082803  -0.017433  1.000000  -0.020963      -0.044524
education       0.003951   0.017235 -0.020963   1.000000       0.342278
education_num   0.044444   0.044253 -0.044524   0.342278       1.000000
marital_status -0.293158  -0.059609  0.028820  -0.033112      -0.055839
occupation     -0.013750   0.244524 -0.002705  -0.027488       0.104450
relationship   -0.262807  -0.091288  0.008587  -0.010864      -0.088866
race            0.027365   0.048764 -0.022403   0.012901       0.028212
capital_gain    0.092701   0.023195 -0.008861   0.019562       0.132556
capital_loss    0.025868  -0.005008 -0.025926   0.031701       0.044884
hours_per_week  0.105737   0.128202 -0.012236   0.046144       0.130512
native_country  0.001333  -0.005494 -0.054104   0.063420       0.050327
sex_ Male       0.087732   0.093855  0.027595  -0.030635       0.002206
income_ >50K    0.234860   0.039034 -0.013472   0.069193       0.311045
age_group      -0.175969  -0.037992 -0.009729  -0.255031      -0.150413
log_age         0.997001   0.023939 -0.081583   0.009469       0.057870

                marital_status  occupation  relationship      race  \
age                  -0.293158   -0.013750     -0.262807  0.027365
workclass            -0.059609    0.244524     -0.091288  0.048764
fnlwgt                0.028820   -0.002705      0.008587 -0.022403
education            -0.033112   -0.027488     -0.010864  0.012901
education_num        -0.055839    0.104450     -0.088866  0.028212
marital_status        1.000000   -0.006240      0.183390 -0.067140
occupation           -0.006240    1.000000     -0.075475  0.007419
relationship          0.183390   -0.075475      1.000000 -0.119020
race                 -0.067140    0.007419     -0.119020  1.000000
capital_gain         -0.063344    0.018658     -0.071272  0.019886
capital_loss         -0.035801    0.009743     -0.050528  0.019081
hours_per_week       -0.189967    0.071277     -0.255549  0.045188
native_country       -0.024744   -0.012394     -0.005533  0.135715
sex_ Male            -0.121444    0.080110     -0.579377  0.088273
income_ >50K         -0.195771    0.070421     -0.244887  0.070656
age_group             0.100470    0.008084      0.098275  0.013613
log_age              -0.316073   -0.009048     -0.271752  0.024331

                capital_gain  capital_loss  hours_per_week  native_country  \
age                 0.092701      0.025868        0.105737        0.001333
workclass           0.023195     -0.005008        0.128202       -0.005494
fnlwgt             -0.008861     -0.025926       -0.012236       -0.054104
education           0.019562      0.031701        0.046144        0.063420
education_num       0.132556      0.044884        0.130512        0.050327
marital_status     -0.063344     -0.035801       -0.189967       -0.024744
occupation          0.018658      0.009743        0.071277       -0.012394
relationship       -0.071272     -0.050528       -0.255549       -0.005533
race                0.019886      0.019081        0.045188        0.135715
capital_gain        1.000000     -0.035876        0.079306        0.012137
capital_loss       -0.035876      1.000000        0.016995        0.015113
hours_per_week      0.079306      0.016995        1.000000       -0.000026
native_country      0.012137      0.015113       -0.000026        1.000000
sex_ Male           0.060852      0.037782        0.231983       -0.008589
income_ >50K        0.310353      0.097807        0.221388        0.019152
age_group          -0.023953     -0.017165       -0.176727        0.017416
log_age             0.097876      0.030874        0.132196       -0.000965

                sex_ Male  income_ >50K  age_group   log_age
age              0.087732      0.234860  -0.175969  0.997001
workclass        0.093855      0.039034  -0.037992  0.023939
fnlwgt           0.027595     -0.013472  -0.009729 -0.081583
education       -0.030635      0.069193  -0.255031  0.009469
education_num    0.002206      0.311045  -0.150413  0.057870
marital_status  -0.121444     -0.195771   0.100470 -0.316073
occupation       0.080110      0.070421   0.008084 -0.009048
relationship    -0.579377     -0.244887   0.098275 -0.271752
race             0.088273      0.070656   0.013613  0.024331
capital_gain     0.060852      0.310353  -0.023953  0.097876
capital_loss     0.037782      0.097807  -0.017165  0.030874
hours_per_week   0.231983      0.221388  -0.176727  0.132196
native_country  -0.008589      0.019152   0.017416 -0.000965
sex_ Male        1.000000      0.209768  -0.028613  0.093982
income_ >50K     0.209768      1.000000  -0.059363  0.249615
age_group       -0.028613     -0.059363   1.000000 -0.194796
log_age          0.093982      0.249615  -0.194796  1.000000

In [16]:
# Comparing with correlation matrix
correlation_matrix = df.corr()
print(correlation_matrix)

                     age  workclass    fnlwgt  education  education_num  \
age             1.000000   0.014502 -0.082803   0.003951       0.044444
workclass       0.014502   1.000000 -0.017433   0.017235       0.044253
fnlwgt         -0.082803  -0.017433  1.000000  -0.020963      -0.044524
education       0.003951   0.017235 -0.020963   1.000000       0.342278
education_num   0.044444   0.044253 -0.044524   0.342278       1.000000
marital_status -0.293158  -0.059609  0.028820  -0.033112      -0.055839
occupation     -0.013750   0.244524 -0.002705  -0.027488       0.104450
relationship   -0.262807  -0.091288  0.008587  -0.010864      -0.088866
race            0.027365   0.048764 -0.022403   0.012901       0.028212
capital_gain    0.092701   0.023195 -0.008861   0.019562       0.132556
capital_loss    0.025868  -0.005008 -0.025926   0.031701       0.044884
hours_per_week  0.105737   0.128202 -0.012236   0.046144       0.130512
native_country  0.001333  -0.005494 -0.054104   0.063420       0.050327
sex_ Male       0.087732   0.093855  0.027595  -0.030635       0.002206
income_ >50K    0.234860   0.039034 -0.013472   0.069193       0.311045
age_group      -0.175969  -0.037992 -0.009729  -0.255031      -0.150413
log_age         0.997001   0.023939 -0.081583   0.009469       0.057870

                marital_status  occupation  relationship      race  \
age                  -0.293158   -0.013750     -0.262807  0.027365
workclass            -0.059609    0.244524     -0.091288  0.048764
fnlwgt                0.028820   -0.002705      0.008587 -0.022403
education            -0.033112   -0.027488     -0.010864  0.012901
education_num        -0.055839    0.104450     -0.088866  0.028212
marital_status        1.000000   -0.006240      0.183390 -0.067140
occupation           -0.006240    1.000000     -0.075475  0.007419
relationship          0.183390   -0.075475      1.000000 -0.119020
race                 -0.067140    0.007419     -0.119020  1.000000
capital_gain         -0.063344    0.018658     -0.071272  0.019886
capital_loss         -0.035801    0.009743     -0.050528  0.019081
hours_per_week       -0.189967    0.071277     -0.255549  0.045188
native_country       -0.024744   -0.012394     -0.005533  0.135715
sex_ Male            -0.121444    0.080110     -0.579377  0.088273
income_ >50K         -0.195771    0.070421     -0.244887  0.070656
age_group             0.100470    0.008084      0.098275  0.013613
log_age              -0.316073   -0.009048     -0.271752  0.024331

                capital_gain  capital_loss  hours_per_week  native_country  \
age                 0.092701      0.025868        0.105737        0.001333
workclass           0.023195     -0.005008        0.128202       -0.005494
fnlwgt             -0.008861     -0.025926       -0.012236       -0.054104
education           0.019562      0.031701        0.046144        0.063420
education_num       0.132556      0.044884        0.130512        0.050327
marital_status     -0.063344     -0.035801       -0.189967       -0.024744
occupation          0.018658      0.009743        0.071277       -0.012394
relationship       -0.071272     -0.050528       -0.255549       -0.005533
race                0.019886      0.019081        0.045188        0.135715
capital_gain        1.000000     -0.035876        0.079306        0.012137
capital_loss       -0.035876      1.000000        0.016995        0.015113
hours_per_week      0.079306      0.016995        1.000000       -0.000026
native_country      0.012137      0.015113       -0.000026        1.000000
sex_ Male           0.060852      0.037782        0.231983       -0.008589
income_ >50K        0.310353      0.097807        0.221388        0.019152
age_group          -0.023953     -0.017165       -0.176727        0.017416
log_age             0.097876      0.030874        0.132196       -0.000965

                sex_ Male  income_ >50K  age_group   log_age
age              0.087732      0.234860  -0.175969  0.997001
workclass        0.093855      0.039034  -0.037992  0.023939
fnlwgt           0.027595     -0.013472  -0.009729 -0.081583
education       -0.030635      0.069193  -0.255031  0.009469
education_num    0.002206      0.311045  -0.150413  0.057870
marital_status  -0.121444     -0.195771   0.100470 -0.316073
occupation       0.080110      0.070421   0.008084 -0.009048
relationship    -0.579377     -0.244887   0.098275 -0.271752
race             0.088273      0.070656   0.013613  0.024331
capital_gain     0.060852      0.310353  -0.023953  0.097876
capital_loss     0.037782      0.097807  -0.017165  0.030874
hours_per_week   0.231983      0.221388  -0.176727  0.132196
native_country  -0.008589      0.019152   0.017416 -0.000965
sex_ Male        1.000000      0.209768  -0.028613  0.093982
income_ >50K     0.209768      1.000000  -0.059363  0.249615
age_group       -0.028613     -0.059363   1.000000 -0.194796
log_age          0.093982      0.249615  -0.194796  1.000000